
/* styles for exercise */

.m10t{
	margin-top: 10px;
}
.m40t{
	margin-top: 40px !important;
}

.container{
	width:80%;
	margin: 0 auto;
	text-align: center;
}

input{
	display: block;
    width: 85%;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: auto;
}
label{
    display: inline-block;
    min-width:35%;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    box-sizing: border-box;
}

#count{
	width: 200px;
    display: inline-block;
    height: 110px;
    position: absolute;
    top: 2%;
    left: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    font-size: 90px;
    color: #555;
}
/* button styles */
.btn{
	cursor:pointer;
	padding: 6px 12px;
	font-size: 14px;
    font-weight: 400;
    text-align: center;
    border-radius: 4px;
    border: 1px solid transparent;
    white-space: nowrap;
    vertical-align: middle;
    display:inline-block;
}

.btn-info{
	color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
/* end of button styles */

/* alert styles */
.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 40%;
    margin: 0 auto;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
/* end of alerts */

/*colum style*/
.col{
	width:49.5%;
	float:left;
	border: 1px solid #ccc;
	height:20px;
}

.col2{
	width:99%;
	float:left;
	border: 1px solid #ccc;
	height:20px;
}
.head{
	background-color:#bcb;
	font-size:14px;
}
/*end of colum style */

.msg{
	font-size:15px;
	font-weight: bold;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #count{
		width: 200px;
	    display: inline-block;
	    height: 110px;
	    position: absolute;
	    top: 2% !important;
	    left: 70%;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    vertical-align: middle;
	    text-align: center;
	    font-size: 90px;
	    color: #555;
	}
	.col{
		width:100%;
		float:left;
		border: 1px solid #ccc;
		height:20px;
	}

	.col2{
		width:100%;
		float:left;
		border: 1px solid #ccc;
		height:20px;
	}
}
